body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: paleturquoise;
    color:gray;
}

.page-container {
    max-width: 850px;
    margin: 50px auto;
    padding: 32px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 4px 14px black;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: rgb(19, 34, 34)
}

.subtitle {
    text-align: center;
    color: rgb(2, 26, 2)
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(43, 119, 119);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.test-link {
    display: block;
    padding: 14px 18px;
    background-color: rgb(172, 209, 192);
    color: rgb(19, 34, 34);
    border-radius: 12px;
    font-weight: bold;
}

.test-link:hover {
    background-color: rgb(204, 204, 204);
    text-decoration: none;
}

form {
    margin-top: 24px;
}

.question-block{
    margin-bottom: 20px;
    padding: 16px;
    background-color: #fafcfc;
    border: 1px solid #d9e3e1;
    border-radius: 12px;
}

.questionn-text{
    margin-top: 0;
}

label {
    font-weight: 600;
}

input[type="number"] {
    width: 90px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #a1afae;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 24px;
    background-color: #8eb7b0;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7ca7a0;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
}
.result-box {
    margin-top: 24px;
    padding: 20px;
    background-color: white;
    border-left: 5px solid #8eb7b0;
    border-radius: 10px;
    font-size: 18px;
}