<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Health Check-In</title>
</head>
<body>
    <h1>Welcome to the Mental Health Check-In System</h1> <!-- Added as a test to make sure the page is viewable on a browser -->
    
    <h2>Select a Check-In</h2>

    <ul>
        {% for test in tests %}
            <li>
                <a href="{{url_for('test_page', test_id=test)}}">{{ test.capitalize() }} Check-In</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>